@charset "UTEF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --fonte01: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    margin: 0px 10px;
    background: black;
    
}

header{
    height: 45vh;
    /*background-image: linear-gradient(to bottom, rgb(2, 63, 16), rgba(0, 128, 0, 0.514));*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.582);
    background: url('../imagem/digimon2.jpg') no-repeat center top; 
    background-size: 99vw;
    background-color: black; 
    border-radius: 30px;
}

 header > h1{
    color: rgb(255, 255, 255);
    font-family: var(--fonte01);
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
  
    padding: 37px 190px;
    font-size: 2vw;
}

nav{
    background-color: rgba(234, 241, 241, 0.986);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.582);
    padding: 15px;
    
    text-align: center;
    transition-duration: 0.5ms;
   
}

nav > a{
    font-family: var(--fonte01);
    font-size: 1.9vw;
    color: rgb(2, 38, 71);
    font-weight: bold;
    padding: 10px 15px 10px;
    margin: 0px 40px;
    text-decoration: none;
}

nav > a:hover{
    background-color: rgba(56, 185, 12, 0.459);
    color: rgb(1, 58, 27);
    border-radius: 10px;
    text-decoration: underline;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 0px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.582);
}

article > h2{
    color: rgb(4, 18, 97);
    text-align: center;
    padding: 10px;
    font-size: 2vw;
}

article > p{
    text-align: justify;
    text-indent: 30px;
    font-size: 1.9vw;
    padding: 3px;
    margin: 3px;
}

div.video{
    background-color: rgb(2, 28, 75);
    margin: 0px -20px 30px -20px;
    padding: 10px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: rgb(9, 75, 197);
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    
}